<head>
</head>  


<body>
    <script>
    $.ajax({
        url: '/Analytics',
        type: 'GET',
        success: function(response) {
            console.log(response.amounts);
            console.log(response.ids);
            console.log(response.statuses);
        }
    });
    </script>
</body>