<head>
</head>  


<body>
    <script>
        $.ajax({
  url: '/Analytics',
  type: 'GET',
  success: function(response) {
    console.log(response);
    console.log(response.length);
  }
});
    </script>
</body>