<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Loading the Braintree JS client SDK -->
    <script src="https://js.braintreegateway.com/web/3.97.4/js/client.min.js"></script>
    <!-- Loading the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.97.4/js/hosted-fields.min.js"></script>
    <!-- Loading the Apple Pay component. -->
    <script src="https://js.braintreegateway.com/web/3.97.4/js/apple-pay.min.js"></script>
    <!-- Loading the 3D Secure component. -->
    <script src="https://js.braintreegateway.com/web/3.97.4/js/three-d-secure.min.js"></script>
    <!-- Loading the Device Data Collector component. -->
    <script src="https://js.braintreegateway.com/web/3.97.4/js/data-collector.min.js"></script>
    <!-- Loading the Google Pay component. -->
    <script src="https://js.braintreegateway.com/web/3.97.4/js/google-payment.min.js"></script>
    <!-- Loading the Google Pay JS file provided by Google. -->
    <script src="https://pay.google.com/gp/p/js/pay.js"></script>
    <!-- Loading the Bootstrap component. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- includes jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <!-- Loading the Socket.IO component. -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <!-- Topnav will now be in every page, no need to update it on each page one by one. -->
    <div class="topnav">
      <a id="home" href="/">Create a Transaction</a>
      <a id="3D-Secure" href="/3D-Secure">Create a 3D Secure Transaction</a>
      <a id="ApplePay" href="/ApplePay">Create an Apple Pay Transaction</a>
      <a id="GooglePay" href="/GooglePay">Create a Google Pay Transaction</a>
      <a id="recent-transactions" href="/recent-transactions">Transaction Search</a>
      <a class = "side" href="https://www.youtube.com/watch?v=41MZC5OApFw" target="_blank">Happy Halloween!</a>
    </div>
    
    <script>
      // Grabbing the name of the page we're currently on and assigning it to a var.
      var path = window.location.pathname;
      var page = path.split("/").pop();
      // Adding the active class to the page we're on at the moment.
      if (page == "") {
        document.getElementById("home").classList.add("active");
      }
      else {
        // This was throwing an error when attempting to assign "active" to something like /transaction-with-nonce.
        // Now we check if the page exists in the topnav first.
        var pageID = document.getElementById(page);
        if (pageID) {
          // Only if the page exists in the topnav, assign it the active class.
          pageID.classList.add("active");
        }
      }
    </script>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- More Bootstrap loading. -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{{body}}}
  </body>
</html>