<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div id="paypalDiv" style="display:none;">
    <form id="paypal-form" action="/paypal-transaction" method="post">

      <div class="container">
        <h1 class="display-4" style="color: #E66C2C;">Thanks for choosing our business today!</h1>
        <p class="lead subtitle" style="color: #E66C2C;">We hope you had a spooky time. Please select a PayPal button below to complete your purchase.</p>
      </div>

      <div class="form-row justify-content-md-center">
        <div class = "col-md-2 mb-3">
          <label class = "PPlabelStyle" for="subscriptionCheck">Create a Subscription</label>
          <input class="form-control PPinputClass" type="checkbox" id="subscriptionCheck" name="subscriptionCreator">
        </div>
        <div class = "col-md-2 mb-3">
          <label class = "PPlabelStyle" for="Amount">Amount</label>
          <input class="form-control PPinputClass" name="amount" id="amount" placeholder="99.99" required>
        </div>
      </div>

      <div class="form-row justify-content-md-center">
        <div class="paypal-container d-flex flex-column mb-3 mx-2">
          <label class="PPlabelStyle mb-2">Checkout</label>
          <div id="paypal-button"></div>
        </div>

        <div class="paypal-container d-flex flex-column mb-3 mx-2">
          <label class="PPlabelStyle mb-2">Vault</label>
          <div id="paypal-button2"></div>
        </div>

        <div class="paypal-container d-flex flex-column mb-3 mx-2">
          <label class="PPlabelStyle mb-2">Checkout with Vault</label>
          <div id="paypal-button3"></div>
        </div>
      </div>

      <!-- Hidden input for the nonce. -->
      <div>
        <input type="hidden" id='payment-method-nonce' name="PayPalNonce">
      </div>

      <!-- Hidden inputs for the payment data, one for the shipping address object and one for the billing address object. -->
      <div>
        <input id='pp-payment-data' name = 'PPPaymentData' type='hidden' />
      </div>

      <!-- Hidden input for the device data string. -->
      <div>
        <input id='pp-device-data' name = 'PPDeviceData' type='hidden' />
      </div>

      <!-- Hidden input for the PayPal checkout type indicator. -->
      <div>
        <input id='pp-flow-used' name = 'PPFlowUsed' type='hidden' />
      </div>
    </form>
  </div>

</body>

<script>
var clientToken = '{{{clientToken}}}';
var form = document.querySelector('#paypal-form');
var nonce = document.querySelector('#payment-method-nonce');
var PPPaymentData = document.querySelector('#pp-payment-data');
var deviceDataString = document.querySelector('#pp-device-data');
var PPFlowUsed = document.querySelector('#pp-flow-used');
var originalAmount;
console.log("Client token in PayPal: " + clientToken);

function inputValidation() {
  let amountInputted = document.forms["paypal-form"]["amount"].value;
  let subscriptionCheckboxBool = document.forms["paypal-form"]["subscriptionCheck"].checked;
  console.log("Subscription checker status: " + subscriptionCheckboxBool);

  // Checking if the subscription checkbox is checked. If it's not, we direct the customer to the transaction route.
  if (subscriptionCheckboxBool == false) {
    document.forms["paypal-form"].action = "/paypal-transaction";
  }
  // If it is checked, we direct the customer to the subscription route.
  else {
    document.forms["paypal-form"].action = "/paypal-subscription";
  }

  let formDestination = document.forms["paypal-form"].action;
  console.log("Form action: " + formDestination);

  // Making sure the input is actually a number. The second condition is somewat redundant because the field is required, but just in case.
  if (isNaN(amountInputted) || amountInputted == "") {
    console.log("Amount field value: " + amountInputted);
    alert("Please enter a valid number.");
    return false;
  }
  // Making sure the number is positive and not 0.
  else if (((Number(amountInputted) * -1) > 0) || (Number(amountInputted) * Number(amountInputted) == 0)) {
    console.log("Amount field value: " + amountInputted);
    alert("Please enter a positive number.");
    return false;
  }
  else {
    return true;
  }
}

braintree.client.create({
  authorization: clientToken
}, function (clientErr, clientInstance) {
  if (clientErr) {
    console.error('Error creating client:', clientErr);
    return;
  }

  // Create a PayPal Checkout component.
  braintree.paypalCheckout.create({
    client: clientInstance
  }, function (paypalCheckoutErr, paypalCheckoutInstance) {
    // Stop if there was a problem creating PayPal Checkout.
    // This could happen if there was a network error or if it's incorrectly configured.
    if (paypalCheckoutErr) {
      console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
      return;
    }
    // Render the div holding the PayPal checkout form once we can load the SDK successfully.
    document.getElementById("paypalDiv").style.display = "inline";

      // Creating the button for the checkout flow.
      paypal.Buttons({
        fundingSource: paypal.FUNDING.PAYPAL,

        onClick: function() {
          var inputChecker = inputValidation();
          console.log("Input verified value: " + inputChecker);

          // When the button is clicked, we fill the global var we created above with the original amount entered on the form.
          // This is so that we can reset the amount back to this in onShippingChange if need be.
          originalAmount = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);

          // inputValidation() will return false if the amount value is bad, just returning and ending this there if so.
          if (inputChecker == false) {
            return;
          }

          // The checkout flow does not work with subscriptions. Throwing an error if the user tries to create a sub with this flow.
          // UPDATE: Moving this here so that this triggers as soon as the button is clicked.
          console.log("Form action in checkout flow: " + form.action);
          if (form.action == "http://localhost:3000/paypal-subscription") {
            alert("Subscriptions cannot be generated using a nonce from the checkout flow.");
            return false;
          }
        },

        createOrder: function () {
          // inputValidation() was passed, now grab the amount passed to be used in the createPayment() call.
          var amountFromForm = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);
          console.log("Amount passed: " + amountFromForm);
          
          return paypalCheckoutInstance.createPayment({
            flow: "checkout",
            amount: amountFromForm,
            currency: "USD",
            intent: "capture",
            displayName: "Gardensound Inc.",
            enableShippingAddress: true,
            shippingAddressEditable: true,
            landingPageType: "login"
          });
        },

        // Triggered when the user changes their selected shipping address in the PayPal pop-up.
        // The below code basically just checks if the country is outside of the US and adds a $20 shipping charge if so.
        onShippingChange: function (data, actions) {
          var internationalShippingCharge = 20.00;
          var amountFromForm = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);
          console.log("Data object: " + data.shipping_address.country_code);
          console.log("Original amount entered: " + originalAmount);

          // This was previously throwing an error because my path to the country code was incorrect.
          if (data.shipping_address.country_code !== 'US') {
            // If the shipping address is not in the US, add the international shipping charge.
            amountFromForm = (Number(amountFromForm) + internationalShippingCharge).toFixed(2);
            document.forms["paypal-form"]["amount"].value = amountFromForm;

            return paypalCheckoutInstance.updatePayment({
              amount: amountFromForm,
              currency: 'USD',
              paymentId: data.paymentID,
            }).then(function() {
              return actions.resolve();
            });
          }
          else {
            // If the shipping address is in the US, we switch the amount in the form back to the original amount which we saved above.
            document.forms["paypal-form"]["amount"].value = originalAmount;

            // We also revert the amount back here so that the customer sees the amount in the PayPal checkout form.
            return paypalCheckoutInstance.updatePayment({
              amount: originalAmount,
              currency: 'USD',
              paymentId: data.paymentID,
            }).then(function() {
              return actions.resolve();
            });
          }
        },

        // Triggered when the user successfully completes the PayPal checkout.
        onApprove: function (data, actions) {
          return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
            // Here's our nonce!
            console.log("PayPal checkout flow nonce: " + payload.nonce);
            console.log("PayPal checkout flow object: ", payload);

            // Adding it to the form as well as the entire payment data object to the form.
            // That object contains all of the customer/address information passed in the PayPal form, that info will be used in the server.
            nonce.value = payload.nonce;
            PPPaymentData.value = JSON.stringify(payload);
            PPFlowUsed.value = "checkout";
            console.log("Flow used: " + PPFlowUsed.value);

            form.submit();
          });
        },

        // Triggered when the user opens the PayPal checkout, but closes the window without completing it.
        onCancel: function (data) {
          console.log("PayPal pop-up closed: ", JSON.stringify(data, 0, 2));
        },

        // Triggered when there is an error with the PayPal checkout.
        onError: function (err) {
          console.error("PayPal error: ", err);
        }

      }).render('#paypal-button').then(function () {
      });

      // Creating the button for the vault flow.
      paypal.Buttons({
        fundingSource: paypal.FUNDING.PAYPAL,

        onClick: function() {
          var inputChecker = inputValidation();
          console.log("Input verified value: " + inputChecker);

          originalAmount = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);

          // inputValidation() will return false if the amount value is bad, just returning and ending this there if so.
          if (inputChecker == false) {
            return false;
          }
        },

        createBillingAgreement: function () {
          return paypalCheckoutInstance.createPayment({
            flow: "vault",
            billingAgreementDescription: "How sweet - fresh meat! Thanks for subscribing to Gardensound.",
            enableShippingAddress: true,
            shippingAddressEditable: true
          });
        },

        // Triggered when the user changes their selected shipping address in the PayPal pop-up.
        // The below code basically just checks if the country is outside of the US and adds a $20 shipping charge if so.
        onShippingChange: function (data, actions) {
          var internationalShippingCharge = 20.00;
          var amountFromForm = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);
          console.log("Data object: " + data.shipping_address.country_code);
          console.log("Original amount entered: " + originalAmount);

          // This was previously throwing an error because my path to the country code was incorrect.
          if (data.shipping_address.country_code !== 'US') {
            // If the shipping address is not in the US, add the international shipping charge.
            amountFromForm = (Number(amountFromForm) + internationalShippingCharge).toFixed(2);
            document.forms["paypal-form"]["amount"].value = amountFromForm;

            return paypalCheckoutInstance.updatePayment({
              amount: amountFromForm,
              currency: 'USD',
              paymentId: data.paymentID,
            }).then(function() {
              return actions.resolve();
            });
          }
          else {
            // If the shipping address is in the US, we switch the amount in the form back to the original amount which we saved above.
            document.forms["paypal-form"]["amount"].value = originalAmount;

            // We also revert the amount back here so that the customer sees the amount in the PayPal checkout form.
            return paypalCheckoutInstance.updatePayment({
              amount: originalAmount,
              currency: 'USD',
              paymentId: data.paymentID,
            }).then(function() {
              return actions.resolve();
            });
          }
        },

        onApprove: function (data, actions) {
            return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
              console.log("PayPal vault flow nonce: " + payload.nonce);
              console.log("PayPal vault flow object: ", payload);

              nonce.value = payload.nonce;
              PPPaymentData.value = JSON.stringify(payload);
              PPFlowUsed.value = "vault";
              console.log("Flow used: " + PPFlowUsed.value);
              form.submit();
            });
        },

        // Triggered when the user opens the PayPal checkout, but closes the window without completing it.
        onCancel: function (data) {
          console.log("PayPal pop-up closed: ", JSON.stringify(data, 0, 2));
        },

        // Triggered when there is an error with the PayPal checkout.
        onError: function (err) {
          console.error("PayPal error: ", err);
        }

      }).render('#paypal-button2').then(function () {
      });

      // Creating the button for the checkout with vault flow.
      paypal.Buttons({
        fundingSource: paypal.FUNDING.PAYPAL,
        onClick: function() {
          var inputChecker = inputValidation();
          console.log("Input verified value: " + inputChecker);

          originalAmount = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);

          // inputValidation() will return false if the amount value is bad, just returning and ending this there if so.
          if (inputChecker == false) {
            return false;
          }

          // The checkout flow does not work with subscriptions. Throwing an error if the user tries to create a sub with this flow.
          // UPDATE: Moving this here so that this triggers as soon as the button is clicked.
          console.log("Form action in checkout with vault flow: " + form.action);
          if (form.action == "http://localhost:3000/paypal-subscription") {
            alert("Subscriptions cannot be generated using a nonce from the checkout with vault flow.");
            return false;
          }
        },

        createOrder: function () {
          // inputValidation() was passed, now grab the amount passed to be used in the createPayment() call.
          var amountFromForm = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);
          console.log(amountFromForm);
          
          return paypalCheckoutInstance.createPayment({
            flow: 'checkout',
            amount: amountFromForm,
            currency: 'USD',
            intent: 'capture',
            // Here's the difference between this one and the checkout flow.
            // With this flow we create a billing agreement along with the payment so we can store the nonce if we want to as well.
            requestBillingAgreement: true,
            billingAgreementDetails: {
              description: "How sweet - fresh meat! Thanks for subscribing to Gardensound."
            },
            enableShippingAddress: true,
            shippingAddressEditable: true
          });
        },

        // Triggered when the user changes their selected shipping address in the PayPal pop-up.
        // The below code basically just checks if the country is outside of the US and adds a $20 shipping charge if so.
        onShippingChange: function (data, actions) {
          var internationalShippingCharge = 20.00;
          var amountFromForm = Number(document.forms["paypal-form"]["amount"].value).toFixed(2);
          console.log("Data object: " + data.shipping_address.country_code);
          console.log("Original amount entered: " + originalAmount);

          // This was previously throwing an error because my path to the country code was incorrect.
          if (data.shipping_address.country_code !== 'US') {
            // If the shipping address is not in the US, add the international shipping charge.
            amountFromForm = (Number(amountFromForm) + internationalShippingCharge).toFixed(2);
            document.forms["paypal-form"]["amount"].value = amountFromForm;

            return paypalCheckoutInstance.updatePayment({
              amount: amountFromForm,
              currency: 'USD',
              paymentId: data.paymentID,
            }).then(function() {
              return actions.resolve();
            });
          }
          else {
            // If the shipping address is in the US, we switch the amount in the form back to the original amount which we saved above.
            document.forms["paypal-form"]["amount"].value = originalAmount;

            // We also revert the amount back here so that the customer sees the amount in the PayPal checkout form.
            return paypalCheckoutInstance.updatePayment({
              amount: originalAmount,
              currency: 'USD',
              paymentId: data.paymentID,
            }).then(function() {
              return actions.resolve();
            });
          }
        },

        onApprove: function (data, actions) {
            return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
              console.log("PayPal vault flow nonce: " + payload.nonce);
              console.log("PayPal vault flow object: ", payload);

              nonce.value = payload.nonce;
              PPPaymentData.value = JSON.stringify(payload);
              PPFlowUsed.value = "checkoutwithvault";
              console.log("Flow used: " + PPFlowUsed.value);

              form.submit();
            });
        },

        // Triggered when the user opens the PayPal checkout, but closes the window without completing it.
        onCancel: function (data) {
          console.log("PayPal pop-up closed: ", JSON.stringify(data, 0, 2));
        },

        // Triggered when there is an error with the PayPal checkout.
        onError: function (err) {
          console.error("PayPal error: ", err);
        }

      }).render('#paypal-button3').then(function () {
    });
  });

  // Creating the data collector instance to pass device data into PayPal txns.
  braintree.dataCollector.create({
    client: clientInstance
  }, function (err, dataCollectorInstance) {
    if (err) {
      console.error(err);
      return;
    }
    var deviceData = dataCollectorInstance.deviceData;
    console.log("Device data: ", deviceData);
    deviceDataString.value = deviceData;
  });
});
</script>