<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css"/>
  </head>
  <body class = "resultStyle">
    <div class="topnav">
      <a href="/">Create a Transaction</a>
      <a href="/ApplePay">Create an Apple Pay Transaction</a>
      <a href="/3D-Secure">Create a 3D Secure Transaction</a>
      <a href="/recent-transactions">Transaction Search</a>
      <b class = "nobutton">Happy Halloween!</b>
    </div>

    <div>
      <div class="jumbotron jumbotron-fluid" style="background-color: rgba(156, 29, 29, 0);">
        <div class="container">
          <h1 class="display-4" style="color: #E66C2C;">Thanks, {{transactionResponse.transaction.customer.firstName}}!</h1>
          <p class="lead subtitle" style="color: #E66C2C;">Your payment was successful! We'll send you a confirmation email at {{transactionResponse.transaction.customer.email}}.</p>
          <p class="lead subtitle" style="color: #E66C2C;">Be on the lookout for your package within 3-5 business days!</p>
        </div>
        <div class = "pumpkinDanceStyle"></div>
      </div>
    </div>  
  </body>
</html>