<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
      <div class="jumbotron jumbotron-fluid" style="background-color: rgba(156, 29, 29, 0);">
        <div class="container">
          <h1 class="display-4" style="color: #E66C2C;">Thanks, {{transactionResponse.transaction.customer.firstName}}!</h1>
          <p class="lead subtitle" style="color: #E66C2C;">Your payment was successful! We'll send you a confirmation email at {{transactionResponse.transaction.customer.email}}.</p>
          <p class="lead subtitle" style="color: #E66C2C;">Be on the lookout for your package within 3-5 business days!</p>
        </div>
        <div class = "pumpkinDanceStyle"></div>
      </div>
    </div>  
  </body>
</html>